* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  html {
    scroll-behavior: smooth;
  }
  h1{
    background-color:blue;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }
  